#panel{
  width: 400px;
  height: 550px;
  box-shadow: 2px 2px #888888;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 50px;
  padding-left: 5px;
  position:absolute;
  z-index:0;
  background-color: #FAFAFA;
  top: 100px;
  border-radius: 25px;
  margin-left: 30px;

}

#panel2{
  width: 800px;
  height: 550px;
  box-shadow: 2px 2px #888888;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 50px;
  padding-left: 5px;
  position:absolute;
  background-color: #FAFAFA;
  top: 100px;
  border-radius: 25px;
  margin-left: 500px;

}


#panel3{
  width: 800px;
  height: 550px;
  box-shadow: 2px 2px #888888;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 50px;
  padding-left: 5px;
  position:absolute;
  background-color: #FAFAFA;
  top: 100px;
  border-radius: 25px;
  margin-left: 500px;

}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#btn_load {
    width: 100%;
    background-color: #7BAFF1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text]:focus{
  outline: 2px solid #7BAFF1;     /* oranges! yey */
}
input[type=password]:focus{
  outline: 2px solid #7BAFF1;     /* oranges! yey */
}

#btn_load:hover {
    background-color: #729DD5;
}

#el11 {

  padding:2em;
  border-radius: 25px;
}

#formulario{
  height: 350px;
}



#btn_extract{
  width: 100%;
  background-color: #7BAFF1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#btn_extract:hover {
    background-color: #729DD5;
}

.escondido{
  display: none;
}
