<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
     Drive = {{select}} <br>
    <table border="2" width="500px" align="center" style="text-align:left;">

      <tr>
      <th >Tamaño</th>
      <th >Mes</th>
      <th >Dia</th>
      <th >Año</th>
      <th >Ruta</th>
      </tr>

      {% for a, b, c, d, e  in dataframe %}
      <tr>
      <th >{{a}}</th>
      <th >{{b}}</th>
      <th >{{c}}</th>
      <th >{{d}}</th>
      <th >{{e}}</th>
      </tr>


      {% endfor %}
      </table>
  </body>
</html>
